<template name="task">
    <li class="{{#if checked}}checked{{/if}}">
        <span class="button-action info {{#if infoActive}}active{{/if}}">
            <i class="fa fa-info-circle"></i>
        </span>
        <span class="button-action delete"><i class="fa fa-trash-o"></i></span>

        <input type="checkbox" checked="{{checked}}" class="toggle-checked" />

        <span class="text">
            <strong>{{getUsername}}</strong> - {{getCategory}}{{text}}

            <span class="tomto {{tomatoCountVisible}}">{{tomatoCount}} <i class="fa fa-history" title="番茄数"></i></span>
            <span class="{{tomatoVisible}}">（
                <i class="tomato-action {{tomatoActionVisible 'play'}} fa fa-play" title="开始任务"></i>
                <i class="tomato-action {{tomatoActionVisible 'stop'}} fa fa-stop" title="完成任务"></i>
            {{tomatoTime}}
            ）</span>
        </span>
    </li>
</template>