<template name="tasks">
    <div class="filter">
        <i class="fa fa-filter" title="过滤任务"></i>
        <select name="filter">
            <optgroup label="今天的任务">
                <option value="all">全部</option>
                <option value="wen">文翼</option>
                <option value="xiao">笑笑</option>
                <option value="together">一起</option>
            </optgroup>
            <optgroup label="已完成的任务">
                <option value="completed">已完成</option>
            </optgroup>
        </select>

        <label class="hide-completed">
            <input type="checkbox" checked="{{hideCompleted}}" />
            隐藏已完成
        </label>
    </div>
    <ul>
        {{#each tasks}}
            {{> task}}
        {{/each}}
    </ul>
</template>